flask==2.0.1
pyaudio==0.2.11
wave==0.0.2
openai==0.27.0
python-dotenv==0.19.0
langchain==0.0.150
langchain_experimental==0.0.10
langchain_community==0.0.10
huggingface-hub==0.10.1
chromadb==0.3.21
snowflake-connector-python==2.7.9
PyMySQL==1.0.2
